/* Custom scrollbar for the modal content */
.modal-check-scroll::-webkit-scrollbar {
    width: 6px;
}

.modal-check-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.modal-check-scroll::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}

.modal-check-scroll::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

:host-context(.dark) .modal-check-scroll::-webkit-scrollbar-thumb {
    background: #475569;
}

:host-context(.dark) .modal-check-scroll::-webkit-scrollbar-thumb:hover {
    background: #64748b;
}