<todo-modal [isOpen]="isOpen()" title="Create New List" (close)="cancel()">

    <todo-input label="List Name" placeholder="Ex: Pending Tasks" icon="edit_note" [(value)]="listName"
        [autofocus]="true" [maxLength]="50"></todo-input>

    <div footer class="flex gap-3 w-full justify-end">
        <todo-button type="ghost" text="Cancel" (clicked)="cancel()"></todo-button>
        <todo-button type="primary" text="Save" [disabled]="!listName() || isSubmitting()"
            (clicked)="createList()"></todo-button>
    </div>

</todo-modal>