<div
    class="w-80 flex flex-col max-h-full rounded-xl bg-gray-100/50 dark:bg-gray-800/30 p-2 border border-gray-200/50 dark:border-gray-700/50">
    <!-- Header -->
    <div class="flex items-center justify-between px-3 py-2 mb-2">
        <h3 class="font-bold text-gray-700 dark:text-gray-200 text-sm uppercase truncate max-w-[150px]"
            [title]="list().name">
            {{ list().name }}
        </h3>
        <div class="flex gap-1">
            <todo-icon-button icon="add" title="Create Task" (clicked)="addItem.emit(list().id!)"></todo-icon-button>
            <todo-icon-button icon="print" title="Print List" (clicked)="printList.emit(list())"
                [disabled]="!list().items || list().items!.length === 0"></todo-icon-button>
            <todo-icon-button icon="delete" title="Delete List" variant="danger"
                (clicked)="deleteList.emit(list().id!)"></todo-icon-button>
        </div>
    </div>

    <!-- Items List -->
    <div class="flex-1 overflow-y-auto px-1 flex flex-col gap-3 custom-scrollbar min-h-[50px]">
        @for (item of list().items; track item.itemId) {
        <todo-card [item]="item" (clicked)="editItem.emit($event)"></todo-card>
        }
    </div>
</div>