@import "tailwindcss";

@theme {
    --color-primary: #135bec;
    --color-primary-hover: #0f4bc2;
    --color-background-light: #f6f6f8;
    --color-background-dark: #101622;
    --color-surface-light: #ffffff;
    --color-surface-dark: #1a202c;

    --font-display: 'Inter', sans-serif;
    --font-body: 'Inter', sans-serif;

    --shadow-soft: 0 2px 10px rgba(0, 0, 0, 0.03);
    --shadow-card: 0 2px 4px rgba(0, 0, 0, 0.05);

    --radius-DEFAULT: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
}

body {
    font-family: var(--font-body);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
}

/* Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
}

.board-container {
    overflow-x: auto;
    scrollbar-width: thin;
}

.board-container::-webkit-scrollbar {
    height: 6px;
}

.board-container::-webkit-scrollbar-track {
    background: transparent;
}

.board-container::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
}