.history-scroll::-webkit-scrollbar {
    width: 4px;
}

.history-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.history-scroll::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}

.dark .history-scroll::-webkit-scrollbar-thumb {
    background: #475569;
}